
body {
   background-image:url("mundocopetelargo.png");
    margin-left: 33%;
    margin-right: 33%;
    margin-bottom: 0%;
     border-radius: 20%;
        
 }
 
 main {
    display: block;
    background-image:url("mundocopete.png");
    text-align: center;
    padding-top: 5px;
    background-color: rgb(6, 164, 236);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
 
 }
 .bandas {
    display: grid;
	 background-image:url("mundocopetelargo.png");
    grid-template-columns: 20%, 20%, 20%, 20%, 20% ;
    background-color: rgb(70, 220, 219);
    grid-gap: 10px;
    padding-left: 6%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 8%;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    
 }
 
 article {
    background: rgb(0, 62, 119);
     padding-top: 5px;
     height: 300 px;
     width: 300 px;
     border-radius: 20px;
    
 
 }
 
 .img-banda {
    border-style: solid;
    width: 93px;
    height: 93px;
    border-radius: 50px;
    grid-gap: 50px;
    grid-column: 50px;
    
 }
 p{
 font-style: normal;
 font-weight: normal;
 font-size: 13px;
 line-height: 15px;
  color: white;
 }
 h1{
  
  font-size: 48px;
 line-height: 56px;
 
 
 
 }
