
body {
    
    margin-left: 13%;
    margin-right: 13%;
    margin-bottom: 10%;
     border-radius: 20%;
        
 }
 
 main {
    display: block;
   
    text-align: center;
    padding-top: 5px;
    background-color: rgb(6, 164, 236);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
 
 }
 .bandas {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    background-color: rgb(70, 220, 219);
    grid-gap: 10px;
    padding-left: 6%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 8%;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    
 }
 
 article {
    background: rgb(0, 62, 119);
     padding-top: 5px;
     height: 300px;
     width: 300px;
     border-radius: 20px;
    
 
 }
 
 .img-banda {
    border-style: solid;
    width: 150px;
    height: 150px;
    border-radius: 30px;
    grid-gap: 30px;
    grid-column: 200px;
    
 }
 p{
 font-style: normal;
 font-weight: normal;
 font-size: 23px;
 line-height: 15px;
  color: yellow;
 }
 h1{
  
  font-size: 34px;
 line-height: 56px;
 
 
 
 }
